*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ::-webkit-scrollbar { width: 5px; background-color: #ffffff;} */

html{scroll-behavior: smooth;}

body{ display: flex; flex-direction: column; }

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 62.5em;
    margin-bottom: 3em;
}
.heading-section{
    color: var(--pink);
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 1em;
}

/* Fuentes tipográficas */
h1, h2, h3, h4, h5, h6, p, span{
    font-family: "Oswald", sans-serif;
}
a{
    font-family: "montserrat", sans-serif;
}
/* Estilos de la barra de navegación y del header */
.imagen-boton{
    height: 4em;
    z-index: 200;
    position: fixed;
    padding: .5em;
    margin: 1em;
    border: solid var(--red) 2px;
}
#header-nav{
    height: 100vh;
    width: 25vh;
    z-index: 100;
   
}
#navegation-var{
    margin-top: 150px; 
}
#navegation-var ul{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.nav-list-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: .5em 0;
    list-style: none;
    transition: 1s ease;
}
.nav-link{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 1.2em;
    transition: .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-link:hover{
    color: var(--red);
}


/* Estilos de la seccion Sobre Mi */
#sobreMi-section{
    display: flex;
    flex-direction: column;
}
#sobreMi-section p{
    font-family: "Montserrat";
    font-size: 1.2em;
    color: var(--white);
    line-height: 1.5;
    text-indent: 20px;
}
#sobreMi-section p span{
    font-family: "Montserrat";
    font-weight: bold;
}
/* Estilos de la seccion Educacion */
#educacion-section{
    display: flex;
    flex-direction: column;
}
.contenedor-educacion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-educacion{
    background-color: var(--cream);
    height: 10em;
    width: 48%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 20px;
    margin: 1em 0;
}
.card-educacion header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4em;
    padding: 1em;
    border-bottom: #142738 solid 2px;
}
.card-educacion header h3{
    font-size: 1.5em;
    color: var(--blue);
}
.card-educacion ul{
    width: 100%;
    margin: 1em;
}
.card-educacion ul li{
    list-style: none;
    font-family: "Montserrat";
    font-size: 1.2em;
}
.card-educacion ul li span{
    font-family: "Montserrat";
    font-weight: bold;
}
/* Estilos para el Footer */
footer{
    width: 62.5em;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    padding: 1em;
    align-items: center;
    border-radius: 20px 20px 0 0;
}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 30%;
}
.copyright p {
    font-size: 1.5em;
    font-family: "Montserrat";
    font-weight: 700;
    color: var(--white);
}
.menciones{
   margin-top: .5em;
   display: flex;
   align-items: center;
   flex-direction: column;
}
.menciones p{
    font-size: 1.1em;
    font-family: "Montserrat";
    color: var(--white);
}
.menciones a{
    text-decoration: underline;
    font-family: "Montserrat";
    color: var(--white);
    font-weight: 600;
}
/* MEDIA QUERIES */