*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --cream:#f8dac2;
    --pink: #f2a297;
    --salmon: #f4436f;
    --red: #ca1444;
    --blue: #142738;
}

::-webkit-scrollbar {
    width: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background: #c31432;  
    background: -webkit-linear-gradient(to right, #240b36, #c31432); 
    background: linear-gradient(to right, #240b36, #c31432); 
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1200px;
}

section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-radius: 25px;
}

header{
    height: 10vh;
    border-bottom: var(--pink) 1px solid;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #90787e1f;
    backdrop-filter: blur(10px);
    width: 100%;
}

/* Estilos de la barra de navegacion izquierda */
.nav-information{
    display: flex;
    align-items: center;
}
.nav-information img{
    height: 3em;
    width: 3em;
    border-radius: 100%;
}              
.information{
    margin-left: .5em;
}
.information h3{
    color: var(--red);
    font-weight: 900;
}
.information h4{
    color: var(--cream);
    font-weight: 700;
}

/* Estilos de la barra de navegacion derecha */
#navegation-var{
    width: 75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list-item {
    display: inline-block;
    margin: 0 1em;
    list-style: none;
    transition: 1s ease;
}
.nav-link{
    text-decoration: none;
    color: var(--cream);
    font-weight: 700;
    font-size: 1.2em;
    transition: .5s ease;
}
.nav-link:hover{
    color: var(--blue);
    text-decoration: underline;
}

/* Estilos de la seccion home */
#home-section {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    height: 90vh;
    width: 80%;
    margin: 2em 0em;
    margin-top: 0;
    background: transparent;
}
#heading-1{
    font-size: 5em;
    color: aliceblue;
    font-weight: 900;
    text-align: center;
}
.heading-2 {
    color: var(--cream);
    font-weight: 900;
    margin: .1em 0 .5em 0;
    text-align: center;
    font-size: 2em;
}
.heading-3{
    color: var(--pink);
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
}
.contacto{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4em;
    margin: .5em 0 ;
}
.contacto a{
    display: flex;
    align-items: center;
    padding: .5em 1.5em;
    background-color: var(--cream);
    margin: 0 .5em;
    border-radius: 30px;
    border: solid 1px var(--blue);
    transition: 1s;
    text-decoration: none;
    color: var(--blue);
    font-weight: 700;
}
.contacto a:hover{   
    background-color: var(--blue);
    border: solid 1px var(--cream);
    transform: scale(1.1);
    color: var(--cream);
}

/* Estilos de la seccion skills/tecnologias */
#skills-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-skills{
    color: var(--cream);
    width: 100%;
    font-size: 2em;
    font-weight: 800;
    height: 20%;
    text-align: center; 
}
.iconos-skills{ 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}
.skill{
    margin: 0 1.5em ;
}
.icon{
    height: 3em;
    margin-right: .5em;  
    color: #f8dac2;
}


/* Estilos de la seccion de proyectos */
/* From Uiverse.io by joe-watson-sbf */ 
.card {
    padding: 1.2em;
    color: white;
    background: linear-gradient(#212121, #212121) padding-box;
    border: 2px solid transparent;
    border-radius: .5em;
    display: flex;
    flex-direction: column;
    transform-origin: right bottom;
    transition: all 1s;
  }
  .card .main-content {
    flex: 1;
  }
  .card .header span:first-child {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  .card .heading {
    font-size: 24px;
    margin: 24px 0 16px;
    font-weight: 600;
  } 
  .card .categories {
    display: flex;
    gap: 8px;
  }
  .card .categories span {
    background-color: #e81cff;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
  }
  
  .card:hover {
    border: solid 2px white;
  }




  #projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .enlaces{
    display: flex;
  }

  

  .github-button{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: solid 2px var(--cream);
    border-radius: 3em;
    text-decoration: none;
    margin-top: 1em;
    font-weight: 600;
    font-size: 12px;
  }

  .github-button p{
    color: var(--cream);
  }

  .github-button img{
    height: 1.1em;
  }

  .ver-web{
    display: flex;
    align-items: center;
    padding: 4px 8px;
    border: solid 2px var(--cream);
    border-radius: 3em;
    text-decoration: none;
    margin-top: 1em;
    font-weight: 600;
    font-size: 12px;
    color: var(--cream);
    margin-left: .5em;
  }